name: Pull Request
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: write  # If needed for PR labels

jobs:
  administration:
    runs-on: ubuntu-latest
    steps:
      - name: Label the PR
        uses: srvaroa/labeler@v0.9
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
  validate:
    uses: ./.github/workflows/validate.yml
